@import url(colors.css);
@import url(fonts.css);

body {
  font-family: 'Roboto', sans-serif;
}

.page-content {
  margin: auto;
  max-width: 80rem;
}

.diagonal-cut {
  height: 450px;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 60% , 0 100%);
  background-color: var(--blue);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


/* shared classes */

.section-content {
  margin: 0 20px;
}


/* hero */

.hero {
  font-size: 1.5em;
  position: relative;
  margin-top: 10px;
}

.hero h1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0.25em auto;
  text-align: center;
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.hero img {
  display: block;
  margin: auto;
  max-width: 100%;
  box-shadow: 0 5px 8px #000a;
}

/* list of icon-links */

.link-list {
  display: flex;
  justify-content: center;
  gap: 0.8em;
  padding: 0;
  margin: auto;
  font-size: 2em;
  list-style: none;
}

.link-list a,
.link-list a:visited {
  color: var(--main-dark);
}

.link-list li {
  transition: transform 0.2s ease-in-out;
}

.link-list li:hover {
  transform: scale(1.2);
}
/* about me */

.about-me {
  font-size: 1.5em;
}

.about-me h2 {
  text-align: center;
  color: var(--main-dark);
}

.about-me p {
  color: var(--sub-dark);
  line-height: 1.5em;
}
