@import url(colors.css);
@import url(fonts.css);

body {
  font-family: 'Roboto', sans-serif;
}

.page-content {
  margin: auto;
  max-width: 80rem;
}

.diagonal-cut {
  height: 450px;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 60% , 0 100%);
  background-color: var(--blue);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


/* shared classes */

.section-content {
  padding: 0 20px;
}


/* hero */

.hero {
  position: relative;
  margin-top: 10px;
}

.hero h1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0.25em auto;
  text-align: center;
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.hero img {
  display: block;
  margin: auto;
  max-width: 100%;
  box-shadow: 0 5px 8px #000a;
}

/* list of icon-links */

.link-list {
  display: flex;
  justify-content: center;
  gap: 0.8em;
  padding: 0;
  margin: auto;
  font-size: 2em;
  list-style: none;
}

.link-list a,
.link-list a:visited {
  color: var(--main-dark);
}

.link-list li {
  transition: transform 0.2s ease-in-out;
}

.link-list li:hover {
  transform: scale(1.2);
}
/* about me */

.about-me {
  font-size: 1.5em;
}

.about-me h2 {
  text-align: center;
  color: var(--main-dark);
}

.about-me p {
  color: var(--sub-dark);
  line-height: 1.5em;
}


/* my work */

.my-work h2 {
  text-align: center;
  color: var(--main-dark);
}

.my-work-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  gap: 50px 30px;
  padding: 0;
  margin-bottom: 120px;
  list-style-type: none;
}

.card {
  display: block;
  max-width: 250px;
  max-height: 400px;
  box-shadow: 0 3px 6px #0008;
  overflow-y: hidden;
}

.card img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;

  color: #fff;
  text-align: center;
  font-size: 24px;
  background-color: var(--blue);
}

.card header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.card h3 {
  flex: 1;
  margin: 0.25em;
}

.card .content {
  padding: 12px 20px
}

/* contact me */

.contact-me {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--blue);
  font-size: 1.5em;
  color: var(--main-light);
}

.contact-me h2 {
  text-align: center;
  font-weight: 500;
  font-family: 'Playfair Display', serif;
}

.contact-me img {
  display: block;
  width: 100%;
}


/* adjustings for tablets */

@media (min-width: 800px) {
  /* hero */
  .hero {
    margin-top: -160px;
    margin-left: 20px;
    float: left;
  }
  .hero h1 {
    overflow: visible;
    left: 100%;
  }

  /* about-me */
  .about-me article {
    background-color: #fff;
    margin: 200px 80px 80px;
    box-shadow: 0 8px 12px #0008;
  }

  .about-me .section-content {
    padding: 20px 20px 50px;
  }

  /* contact me */
  .contact-me {
    padding: 30px 40px 60px;
    flex-direction: row;
  }
  .contact-me h2 {
    text-align: start;
  }

  .contact-me img {
    object-fit: contain;
  }
}
